.main-footer{
    background-color:#131722 !important;
    position: fixed !important ;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 3333;
    /* 
    position: relative;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%); */
}